.label {
    font-weight: 500;
}

.input {
    outline: none;
    padding: 7.5px 12px;
    border-radius: 8px;
    background-color: transparent;
    border: 1px solid var(--card-border-color);
    transition: all 100ms ease-in-out;
    color: var(--input-color);

    &:focus {
        border-color: var(--focus-color);
        box-shadow: 0 0 0 3px var(--focus-color-transparent);
    }

    &::placeholder {
        font-family: var(--font-default);
    }
}
